---
title: Index page
---
<h1>Index page</h1>
<p>This should show the index page</p>
<ul>
    <li><a href="/pages/">Pages</a></li>
    <li><a href="/pages/page-with-layout.html">Page with layout</a></li>
    <li><a href="/pages/page-with-manual-layout.html">Page with manual layout</a></li>
    <li><a href="/pages/page-with-no-layout.html">Page with no layout</a></li>
    <li><a href="/pages/page-without-anything.html">Page with no configuration</a></li>
    <li><a href="/pages/static-page.html">Static page</a></li>
</ul>